{% if settings.text is not empty %}
    {% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') %}
	{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
    {% if settings.link.href %}
<<<<<<< HEAD
        <{{ settings.link.tag | e('html_tag') }}
            {% set linkAttr = settings.link.tag == 'a' ? 'href' : 'data-action-link' %}
			{{ linkAttr }}="{{ settings.link.href | raw }}"
        target="{{ settings.link.target }}"
=======
        <a
            href="{{ settings.link.href | raw }}"
            target="{{ settings.link.target }}"
>>>>>>> 925a27b3365a70f9d425839bd2b9f9ff46969275
            class="{{ classes }}"
            data-interaction-id="{{ id }}"
            data-interactions="{{ interactions | json_encode | e('html_attr') }}"
            {{ id_attribute }} {{ settings.attributes | raw }}
        >
            {{ settings.text }}
<<<<<<< HEAD
        </{{ settings.link.tag | e('html_tag') }}>
=======
        </a>
>>>>>>> 925a27b3365a70f9d425839bd2b9f9ff46969275
    {% else %}
        <button class="{{ classes }}" data-interaction-id="{{ id }}" data-interactions="{{ interactions | json_encode | e('html_attr') }}" {{ id_attribute }} {{ settings.attributes | raw }}>
            {{ settings.text }}
        </button>
    {% endif %}
{% endif %}
